
<header class="public-header">
  
    <ul class="content">
        <li class="content-item">
            <a href=""><img src="http://static.nodejs.cn/_static/img/logo.svg" height="30" alt=""></a>
        </li>
        <li class="content-item">
            <a href="#">首页</a>
        </li>
    </ul>

    <ul class="content">
        <img src="<%=user.imagepath%>" class="img-avatar" width="30" height="30" alt="">
        <li class="content-item">
            <a href="">欢迎你,<%=user.username%></a>
        </li>
        
        <li class="content-item">
            <a href="/login">安全退出</a>
        </li>
    </ul>
</header>