<ul class="prolist">
    <li class="proitem"><a href="/product">商品管理</a></li>
    <li class="proitem"><a href="/product/productlist">商品列表</a></li>
    <li class="proitem"><a href="/product/productadd">发布商品</a></li>
    <li class="proitem"><a href="/product/categoryadd">分类管理</a></li>
    <li class="proitem"><a href="/product/productorder">订单管理</a></li>
</ul>